/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: lightyellow;
  font-family: sans-serif;
  margin: 10px auto;
  max-width: 700px;
  min-width: 280px;
}

.app {
  margin: 20px;
}

h1 {
  font-family: sans-serif;
  color: brown;
  text-align: center;
}

.datePicker {
  margin-bottom: 20px;
  text-align: center;
}

.rasta-stripes {
  font-size: 16px;
  font-weight: bold;
  padding: 6px;
  width: 220px;
  border-radius: 10px;
  text-align: center;
}

.react-datepicker__current-month {
  padding-bottom: 10px;
}

.react-datepicker__day-name{
  font-size: 16px;
  padding: 3px;
}

.react-datepicker__day{
  font-size: 16px;
  padding: 3px;
}

.section {
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
}

.breakfast-section {
  background-color: #ceebfd;
}

.lunch-section {
  background-color: #ffe6ea;
}

.dinner-section {
  background-color: #e5e5ff;
}

h3 {
  text-align: center;
  padding: 5px;
  color: darkblue;
}