/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: lightyellow;
  font-family: sans-serif;
  margin: 10px auto;
  max-width: 700px;
  min-width: 280px;
}

.app {
  margin: 20px;
}

h1 {
  font-family: sans-serif;
  color: brown;
  text-align: center;
}

/*datepicker formatting*/
.datePicker {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.rasta-stripes {
  font-size: 14px;
  padding: 5px 15px;
  width: 250px;
  border-radius: 6px;
  text-align: left;
}

.react-datepicker__current-month {
  padding-bottom: 10px;
}

.react-datepicker__day-name{
  font-size: 14px;
}

.react-datepicker__day{
  font-size: 14px;
}
/*datepicker formatting*/

/*show medList section*/
.section {
  margin: 10px 0;
  padding: 20px;
  border-radius: 15px;
}

.breakfast-section {
  background-color: #ceebfd;
}

.lunch-section {
  background-color: #ffe6ea;
}

.dinner-section {
  background-color: #e5e5ff;
}

.index-section {
  background-color: lightgreen;
}

h3 {
  text-align: center;
  padding: 5px;
  color: darkblue;
}
/*show med section*/


/*Form*/
.container-form {
  background-color: #CCEECC;
  border-radius: 15px;
  padding: 25px 25px;
  margin-top: 10px;
  margin-bottom: 30px;
}

label {
  font-size: 16px;
  /*font-weight: bold;*/
  font-family: 'Arial';
}

input {
  font-size: 14px;
  padding: 3px;
  margin: 5px 0;
  width: 200px;
}

select {
  font-size: 14px;
  padding: 3px 20px;
  margin: 5px 0;
}

span {
  font-weight: normal;
}


.btn button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*Form*/

/*rails index table*/
th, td {
  text-align: left;
  padding: 2px;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
}

/*Med.jsx med information box onClick*/
.med-info-box {
  margin-left: 20px;
  padding: 0 5px 5px 15px;
  border: 2px solid grey;
  width: 230px;
  background-color: #f0f7da;
  position: relative;
}

.med-info a {
  text-decoration: none;
}

.edit-btn {
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.edit-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/*Index section*/
.card {
  margin: 5px 0;
}

.card-info {
  padding-left: 20px;
}